.DS_Store
UserInterfaceState.xcuserstate
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
GoogleService-Info.plist